
importFrom("stats", "cor", "dexp", "dgamma", "dlnorm", "dnorm", "dweibull", "ecdf", "knots",
             "nlm", "optim", "optimise", "pexp", "pgamma", "plnorm", "pnorm", "pweibull", "qexp",
             "qlnorm", "qnorm", "qweibull", "runif", "stepfun", "uniroot", "var")
importFrom("graphics", "abline", "legend", "lines", "par", "plot")
importFrom("survival", "Surv", "survfit")
importFrom("utils", "tail")

# Splicing part
importFrom("parallel", "detectCores", "makePSOCKcluster", "stopCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach", "%do%", "%dopar%", "foreach")

#########################
# Random

export("dpareto","ppareto","qpareto","rpareto") 
export("dtpareto","ptpareto","qtpareto","rtpareto") 
export("dgpd","pgpd","qgpd","rgpd") 
export("dtgpd","ptgpd","qtgpd","rtgpd")
export("depd","pepd","qepd","repd")
export("dburr","pburr", "qburr", "rburr")
export("dtburr","ptburr", "qtburr", "rtburr")

export("dtexp","ptexp", "qtexp", "rtexp")
export("dtlnorm","ptlnorm", "qtlnorm", "rtlnorm")
export("dtweibull","ptweibull", "qtweibull", "rtweibull")

#########################
# Plots

export("ExpQQ") 
export("ParetoQQ","ParetoQQ_der")
export("LognormalQQ","LognormalQQ_der") 
export("MeanExcess") 


#########################
# Estimators for Pareto-type tails

export("Hill")
export("Hill.2oQV", "Hill.kopt") 
export("Prob", "Quant", "Return")
export("Weissman.p", "Weissman.q", "Weissman.r")
export("Quant.2oQV", "Weissman.q.2oQV") 
export("Scale","Scale.2o","ScaleEPD") 
export("EPD","EPDfit","ProbEPD","ReturnEPD")


#########################
# General estimators

export("genQQ", "generalizedQQ") 
export("genHill","ProbGH","QuantGH","ReturnGH")
export("Moment","ProbMOM","QuantMOM","ReturnMOM")
export("LStail","TSfraction")
export("POT","GPDmle","GPDfit","GPDresiduals")
export("ProbGPD", "QuantGPD","ReturnGPD")


#########################
# Regression

export("ScaleReg")
export("ProbReg","QuantReg")

#########################
# Censored estimators

export("KaplanMeier", "Turnbull")
export("cHill","cgenHill")
export("cExpQQ","cLognormalQQ","cParetoQQ","cgenQQ")
export("cMoment")
export("cGPDmle","cPOT")
export("cProb","cQuant","cReturn")
export("cProbGH","cQuantGH","cReturnGH")
export("cProbMOM","cQuantMOM","cReturnMOM")
export("cProbGPD","cQuantGPD","cReturnGPD")
export("cEPD","cProbEPD","cReturnEPD")
export("ciHill","ciProb","ciReturn")
export("ciExpQQ","ciLognormalQQ","ciParetoQQ")
export("ciEPD","ciProbEPD","ciReturnEPD")


#########################
# Truncation estimators

export("trHill","trDT","trEndpoint","trQuant", "trQuantW", "trProb")
export("trTest")
export("trParetoQQ")


#####################################
# Censoring+truncation

export("trcHill","trciHill")
export("trcProb","trciProb")
#export("trciDT","trciEndpoint")


#####################################
# Splicing

export("SpliceFitPareto","SpliceFitHill","SpliceFitciPareto","SpliceFitGPD")
export("dSplice","pSplice","qSplice","rSplice")
export("SpliceECDF","SpliceTB","SpliceLL","SpliceLL_TB","SplicePP","SplicePP_TB","SpliceQQ")
# S3
export("MEfit", "EVTfit", "SpliceFit")
S3method(summary, SpliceFit)

#####################################
# Risk measures

export("ExcessHill","ExcessEPD","ExcessGPD")
export("ExcessSplice")
export("VaR","ES")

######################################
# Approximations

export("pGC", "pEdge")